---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import SubNav from "../../../components/SubNav.astro";
import Prose from "../../../components/Prose.astro";
import { render } from "astro:content";
import { fetchAppsFAQ } from "../../../fetch-apps";

export async function getStaticPaths() {
  return fetchAppsFAQ();
}

const { appFAQ, appStoreId, iconUrl, description } = Astro.props;
const { data } = appFAQ;
const { title: appName, slug } = data;

const computedTitle = `${appName} — FAQ`;
const { Content } = await render(appFAQ);
---

<BaseLayout
  title={computedTitle}
  appStoreId={appStoreId}
  image={iconUrl}
  description={description}
>
  <section>
    <div class="py-24 sm:py-32">
      <SubNav slug={slug} appName={appName} appIconUrl={iconUrl} />
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <article>
          <Prose>
            <header>
              <h1 class="prose-custom-header">Frequently Asked Questions</h1>
            </header>
            <Content />
          </Prose>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
