---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import apps from "../../../apps";
import Button from "../../../components/Button.astro";
import SubNav from "../../../components/SubNav.astro";

export async function getStaticPaths() {
  return apps;
}

const { slug } = Astro.params;

interface Props {
  appName: string;
  description: string;
  iconUrl: string;
  appStoreId: string;
}

const { appName, description, iconUrl, appStoreId } = Astro.props;
---

<BaseLayout
  title={appName}
  appStoreId={appStoreId}
  image={iconUrl}
  description={description}
>
  <section>
    <div class="py-24 sm:py-32">
      <SubNav slug={slug} appName={appName} appIconUrl={iconUrl} />
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <article>
          <div class="mx-auto lg:mx-0">
            <img
              class="m-8 mx-auto rounded-4xl"
              src={iconUrl}
              alt={appName}
              width={200}
              height={200}
            />
          </div>
          <div class="text-center">
            <h1
              class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
            >
              {appName}
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
            >
              {description}
            </p>
            <div
              class="mt-10 flex max-w-none flex-col flex-nowrap gap-6 sm:flex-row sm:justify-center"
            >
              <div class="flex w-full sm:w-auto">
                <Button
                  link={`https://apps.apple.com/app/id${appStoreId}`}
                  icon="brand-apple-filled"
                  openInNewTab
                >
                  <span>Download on App Store</span>
                </Button>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
