---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import SubNav from "../../../components/SubNav.astro";
import Prose from "../../../components/Prose.astro";
import { render } from "astro:content";
import config from "../../../config";
import { fetchAppsPrivacy } from "../../../fetch-apps";

export async function getStaticPaths() {
  return fetchAppsPrivacy();
}

const { appPrivacy, appStoreId, iconUrl, description } = Astro.props;
const { data } = appPrivacy;
const { title: appName, slug, lastUpdatedDate } = data;

const computedTitle = `${appName} — Privacy Policy`;
const { Content } = await render(appPrivacy);
---

<BaseLayout
  title={computedTitle}
  appStoreId={appStoreId}
  image={iconUrl}
  description={description}
>
  <section>
    <div class="py-24 sm:py-32">
      <SubNav slug={slug} appName={appName} appIconUrl={iconUrl} />
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <article>
          <header>
            <div class="text-center">
              <h1
                class="mt-8 mb-4 text-3xl font-extrabold tracking-tight text-balance sm:text-5xl"
              >
                Privacy Policy
              </h1>
              <p
                class="mb-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
              >
                Last updated on
                <time datetime={new Date(lastUpdatedDate).toISOString()}
                  >{
                    new Date(lastUpdatedDate).toLocaleString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })
                  }</time
                >
              </p>
            </div>
          </header>
          <Prose>
            <p>
              {
                `I, ${config.author}, the developer of ${appName}, am committed to
              respecting the privacy of users. This privacy policy outlines how
              I collect, use, share, and protect information within the scope of
              ${appName}.`
              }
            </p>
            <Content />
          </Prose>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
