---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import SubNav from "../../../components/SubNav.astro";
import { render } from "astro:content";
import config from "../../../config";
import { fetchAppsPrivacy } from "../../../fetch-apps";

export async function getStaticPaths() {
  return fetchAppsPrivacy();
}

const { appPrivacy, appStoreId, iconUrl, description } = Astro.props;
const { data } = appPrivacy;
const { title: appName, slug, lastUpdatedDate } = data;

const computedTitle = `${appName} — Privacy Policy`;
const { Content } = await render(appPrivacy);
---

<BaseLayout
  title={computedTitle}
  appStoreId={appStoreId}
  image={iconUrl}
  description={description}
>
  <section>
    <div class="py-24 sm:py-32">
      <SubNav slug={slug} appName={appName} appIconUrl={iconUrl} />
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <article>
          <div
            class="prose prose-code:before:hidden prose-code:after:hidden lg:prose-xl prose-img:rounded-lg prose-a:no-underline prose-a:text-black prose-a:hover:text-gray-500 dark:prose-invert dark:prose-a:text-gray-500 dark:prose-a:hover:text-white prose-a:transition-colors prose-a:duration-300 mx-auto mt-10"
          >
            <p>
              {
                `I, ${config.author}, the developer of ${appName}, am committed to
              respecting the privacy of users. This privacy policy outlines how
              I collect, use, share, and protect information within the scope of
              ${appName}.`
              }
            </p>
            <Content />
          </div>
          <footer>
            <div class="text-right">
              <p
                class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
              >
                Last updated:
                <time datetime={new Date(lastUpdatedDate).toISOString()}
                  >{
                    new Date(lastUpdatedDate).toLocaleString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })
                  }</time
                >
              </p>
            </div>
          </footer>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
