---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import SubNav from "../../../components/SubNav.astro";
import Prose from "../../../components/Prose.astro";
import { render } from "astro:content";
import config from "../../../config";
import { fetchAppsPrivacy } from "../../../fetch-apps";

export async function getStaticPaths() {
  return fetchAppsPrivacy();
}

const { appPrivacy, appStoreId, iconUrl, description } = Astro.props;
const { data } = appPrivacy;
const { title: appName, slug, lastUpdatedDate } = data;

const computedTitle = `${appName} — Privacy Policy`;
const { Content } = await render(appPrivacy);
---

<BaseLayout
  title={computedTitle}
  appStoreId={appStoreId}
  image={iconUrl}
  description={description}
>
  <section>
    <div class="py-24 sm:py-32">
      <SubNav slug={slug} appName={appName} appIconUrl={iconUrl} />
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <article>
          <Prose>
            <header>
              <h1 class="prose-custom-header">Privacy Policy</h1>
            </header>
            <Content />
            <hr />
            <p>
              {`By using ${appName}, you consent to this privacy policy.`}
            </p>
            <p>
              {
                `If you have any questions or concerns about this privacy policy, please `
              }<a href="/contact">contact me</a>.
            </p>
            <footer>
              <p class="text-right text-sm text-gray-500">
                Last updated on
                <time datetime={new Date(lastUpdatedDate).toISOString()}
                  >{
                    new Date(lastUpdatedDate).toLocaleString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })
                  }</time
                >
              </p>
            </footer>
          </Prose>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
