---
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
import Badge from "@/components/Badge.astro";
import apps from "@/apps";
---

<BaseLayout title="Apps">
  <section>
    <div class="py-32 sm:py-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto lg:mx-0">
          <h1
            class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
          >
            Apps
          </h1>
          <p class="mt-2 text-lg/8">Here are some of the apps I've built.</p>
        </div>
        <div
          class="mt-12 grid grid-cols-1 gap-x-20 gap-y-12 text-center sm:mt-16 sm:grid-cols-2 lg:grid-cols-3"
        >
          {
            apps.map(({ params, props }) => (
              <Card link={`/apps/${params.slug}`}>
                <div class="space-y-4">
                  <Image
                    src={props.iconUrl}
                    alt={props.appName}
                    class="mx-auto rounded-2xl"
                    width={64}
                    height={64}
                  />
                  {props.platforms.map((platform) => (
                    <Badge>{platform}</Badge>
                  ))}
                  <h3 class="text-2xl leading-tight font-bold">
                    {props.appName}
                  </h3>
                  <p class="text-lg font-normal text-gray-500">
                    {props.description}
                  </p>
                </div>
              </Card>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
