---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import packages from "../packages";
---

<BaseLayout title="Packages">
  <section>
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <div class="mx-auto lg:mx-0">
          <h1
            class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
          >
            Packages
          </h1>
          <p class="mt-2 text-lg/8">
            Choose the package that best fits your needs.
          </p>
        </div>
        <div
          class="mt-12 grid grid-cols-1 gap-x-20 gap-y-12 text-center sm:mt-16 sm:grid-cols-2 lg:grid-cols-3"
        >
          {
            packages.map(({ params, props }) => (
              <Card
                title={props.packageName}
                description={props.description}
                iconUrl={props.iconUrl}
                link={`/packages/${params.slug}`}
                platforms={props.tags}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
