---
import Badge from "./Badge.astro";

interface Props {
  title: string;
  description: string;
  iconUrl: string;
  link: string;
  platforms: string[];
}

const { title, description, iconUrl, link, platforms } = Astro.props;
---

<a
  href={link}
  class="block rounded-xl border border-gray-200 p-6 transition-colors duration-300 hover:border-gray-300 dark:border-gray-800 dark:hover:border-gray-700"
>
  <div class="space-y-4">
    <img src={iconUrl} alt={title} class="mx-auto h-16 w-16 rounded-xl" />
    {platforms.map((platform: string) => <Badge>{platform}</Badge>)}
    <h3 class="text-2xl leading-tight font-bold">
      {title}
    </h3>
    <p class="text-lg font-normal">
      {description}
    </p>
  </div>
</a>
