---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";

interface Props {
  frontmatter: {
    title: string;
    date: string;
    image: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
const { title, date, image, description } = frontmatter;
---

<BaseLayout title={title} image={image} description={description}>
  <section>
    <div class="py-32 sm:py-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <article>
          <header>
            <div class="text-center">
              <h1
                class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
              >
                {title}
              </h1>
              <p
                class="mt-8 mb-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
              >
                <time datetime={date}
                  >{
                    new Date(date).toLocaleString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })
                  }</time
                >
              </p>
            </div>
          </header>
          <Prose>
            <figure>
              <Image src={image} alt={title} width={1075} height={716} />
            </figure>
            <slot />
          </Prose>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
