---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    date: string;
    image: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
const { title, date, image, description } = frontmatter;
---

<BaseLayout title={title} image={image} description={description}>
  <section>
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-6xl px-6 lg:px-8">
        <article>
          <header>
            <div class="text-center">
              <h1
                class="text-5xl font-extrabold tracking-tight text-balance sm:text-7xl"
              >
                {title}
              </h1>
              <p
                class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
              >
                <time datetime={date}
                  >{
                    new Date(date).toLocaleString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })
                  }</time
                >
              </p>
            </div>
          </header>
          <div
            class="prose prose-code:before:hidden prose-code:after:hidden lg:prose-xl prose-img:rounded-lg prose-a:no-underline prose-a:text-black prose-a:hover:text-gray-500 dark:prose-invert dark:prose-a:text-gray-500 dark:prose-a:hover:text-white prose-a:transition-colors prose-a:duration-300 mx-auto mt-10"
          >
            <figure>
              <img src={image} alt={title} />
            </figure>
            <slot />
          </div>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
